# 機器人token
config.json
# Dependency directories
node_modules

jspm_packages
# 快速啟動檔
open to bot.bat
# 快速開code
open CODE.bat
# 指令註冊
deploy-commands.bat
#斜杠註冊
deploy-commands.js
#pacoge
package-lock.json